<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if current_user != nil && current_user.email == @article.author_email %>
  <p class="comment-controller">
    <%= link_to 'Destroy comment', [comment.article, comment],
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  </p>
<% end %>
