<header class = "navbar">
        <div class = "navbar-inner">
            <div class = "home-container">
            <% if user_signed_in? %>
                <a href="/" class = "nav-article">All articles</a>
                <%= link_to "Create article", new_article_path, class:"nav-article" %>
                <a href= "/articles/my_articles", class = "nav-article">My articles</a>
            <% end %>
            </div>
            <div class = "registration-container">
                <% if user_signed_in? %>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-article" %>
                <% else %>
                    <%= link_to "Log in", new_user_session_path, class:"nav-article" %>
                    <%= link_to "Sign up", new_user_registration_path, class:"nav-article" %>
                <% end %>
            </div>
        </div>
</header>