<header class = "navbar">
        <div class = "navbar-inner">
            <div class = "home-container">
                <a href="/" class = "nav-article">All articles</a>
                <%= link_to "Create article", new_article_path, class:"nav-article" %>
                <a href="/" class = "nav-article">Private articles</a>
                <a href="/" class = "nav-article">Arcived articles</a>
            </div>
            <div class = "registration-container">
                <a href="/" class = "nav-article"><b>Log in</b></a>
                <a href="/" class = "nav-article"><b>Sign up</b></a>
                <a href="/" class = "nav-article"><b>Sign out</b></a>
            </div>
        </div>
</header>