<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<%= render "header", article: @article %>

<h1>Edit Article</h1>

<%= render "form", article: @article %>
